body{
    margin: 0;
    background-image: url(./assets/background.png);
   
}

.ingreso{
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
    
    
}


#titulo-inicial{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}








